{% load i18n %}

{% load search_tags %}
{% load smart_settings_tags %}

{% search_get_search_models as search_models %}
{% smart_setting global_name="SEARCH_DISABLE_SIMPLE_SEARCH" as setting_disable_simple_search %}

{% search_get_default_search_model as default_search_model %}

{% if setting_disable_simple_search %}
<div class="row">
<div class="col-xs-6 col-xs-offset-3">
{% endif %}

<div class="well center-block">
    <div class="row">
        <div class="col-xs-12">
            <form action="{% url 'search:results' %}" class="form-horizontal" id="formSearch" method="get" role="search">
                {% if default_search_model %}
                    <input type="hidden" name="{% search_get_search_model_name_query_variable %}" value="{{ default_search_model.get_full_name }}" id="search-hidden-search-model">
                {% endif %}

                {% if setting_disable_simple_search == False %}
                    <div class="col-sm-10">
                {% else %}
                    <div class="col-sm-8">
                {% endif %}

                    <div class="input-group">
                        {% if setting_disable_simple_search == False %}
                            <input class="form-control" name="q" placeholder="{% trans 'Search documents...' %}" type="text" value="{{ search_terms|default:'' }}">
                        {% endif %}
                        <span class="input-group-btn">
                            {% if setting_disable_simple_search == False %}
                                <button class="btn btn-default" type="submit">{% trans 'Search' %}</button>
                                {% endif %}
                            <a class="btn btn-primary" href="" id="search-button-search-advanced" title="{% trans 'Advanced search with all models and filters' %}">{% if setting_disable_simple_search == False %}{% trans 'Advanced' %}{% else %}{% trans 'Advanced search' %}{% endif %}</a>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% if setting_disable_simple_search %}
</div>
</div>
{% endif %}


<script>
    jQuery(document).ready(function() {
        const $btnSearchAdvanced = $('#search-button-search-advanced');
        {% if default_search_model %}
            const defaultModelName = "{{ default_search_model.get_full_name }}";
            $btnSearchAdvanced.attr('href', "{% url 'search:search_advanced' %}?{% search_get_search_model_name_query_variable %}=" + defaultModelName);
        {% else %}
            // Fallback if no default model is available
            $btnSearchAdvanced.attr('href', "{% url 'search:search_advanced' %}");
        {% endif %}
    });
</script>
