{% extends "appearance/base.html" %}

{% load i18n static %}

{% block title %}{% trans "Пресеты рендишенов" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-cogs text-primary"></i>
                        {% trans "Пресеты версий файлов" %}
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="clearfix" style="margin-bottom: 15px;">
                        <a href="#" class="btn btn-success pull-right" onclick="openPresetCreate(); return false;">
                            <i class="fa fa-plus"></i>
                            {% trans "Создать пресет" %}
                        </a>
                    </div>
                    {% if presets %}
                        <div class="row">
                            {% for preset in presets %}
                                <div class="col-md-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">{{ preset.name }}</h5>
                                        </div>
                                        <div class="panel-body">
                                            <p><strong>{% trans "Формат:" %}</strong> {{ preset.format|upper }}</p>
                                            <p><strong>{% trans "Размер:" %}</strong> {{ preset.width }}x{{ preset.height }}</p>
                                            <p><strong>{% trans "Качество:" %}</strong> {{ preset.quality }}%</p>
                                            <p><strong>{% trans "Водяной знак:" %}</strong>
                                                {% if preset.watermark_text %}
                                                    {{ preset.watermark_text }}
                                                {% else %}
                                                    {% trans "Нет" %}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert alert-info">
                            <i class="fa fa-info-circle"></i>
                            {% trans "Пока нет пресетов." %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function openPresetCreate() {
    window.location.hash = '#/distribution/presets/create/';
}
</script>
{% endblock %}
